{% extends "base.html" %}

{% block title %}Форма регистрации{% endblock %}

{% block content%}
<form action = "{{ url_for('login')}}" method = "POST">
    {{ form.csrf_token }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=20) }}<br>
    </p>
    <p>
        {{ form.lastname.label }}<br>
        {{ form.lastname(size=20) }}<br>
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=20) }}<br>
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=20) }}<br>
    </p>
    <input type = "submit" value = "Зарегистрироваться">
</form>
{% endblock %}
